@page
@model CausalRelationshipModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4>Current event</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Description</th>
                <th scope="col">Kind</th>
                <th scope="col">Process Id</th>
                <th scope="col">Run Id</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>   
            <tr>
                <th>@Model.causalRelationship.CurrentEvent.Id</th>
                <td>@Model.causalRelationship.CurrentEvent.Description</td>
                <td>@Model.causalRelationship.CurrentEvent.Kind</td>
                <td>@Model.causalRelationship.CurrentEvent.ProcessId</td>
                <td>@Model.causalRelationship.CurrentEvent.RunId</td>
                <td>@Model.causalRelationship.CurrentEvent.Time</td>
            </tr>
        </tbody>
    </table>

@if (Model.causalRelationship.BeforeEvents.Count > 0)
{
    <h4>Before events</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Description</th>
                <th scope="col">Kind</th>
                <th scope="col">Process Id</th>
                <th scope="col">Run Id</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.causalRelationship.BeforeEvents)
            {    
                <tr>
                    <th>@e.Id</th>
                    <td>@e.Description</td>
                    <td>@e.Kind</td>
                    <td>@e.ProcessId</td>
                    <td>@e.RunId</td>
                    <td>@e.Time</td>
                </tr>
            } 
        </tbody>
    </table>
}

@if (Model.causalRelationship.AfterEvents.Count > 0)
{
    <h4>After events</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Description</th>
                <th scope="col">Kind</th>
                <th scope="col">Process Id</th>
                <th scope="col">Run Id</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.causalRelationship.AfterEvents)
            {    
                <tr>
                    <th>@e.Id</th>
                    <td>@e.Description</td>
                    <td>@e.Kind</td>
                    <td>@e.ProcessId</td>
                    <td>@e.RunId</td>
                    <td>@e.Time</td>
                </tr>
            } 
        </tbody>
    </table>
}

@if (Model.causalRelationship.ParallelEvents.Count > 0)
{
    <h4>Parallel events</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Description</th>
                <th scope="col">Kind</th>
                <th scope="col">Process Id</th>
                <th scope="col">Run Id</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.causalRelationship.ParallelEvents)
            {    
                <tr>
                    <th>@e.Id</th>
                    <td>@e.Description</td>
                    <td>@e.Kind</td>
                    <td>@e.ProcessId</td>
                    <td>@e.RunId</td>
                    <td>@e.Time</td>
                </tr>
            } 
        </tbody>
    </table>
}
</div>
