@page
@model SearchResultModel
@{
    ViewData["Title"] = "Search";
}

<h5>Search params</h5>
<span>Process Id: @Model.ProcessId</span><br>
<span>Run Id: @Model.RunId</span><br>
<span>Time: @Model.TimeInterval @Model.TimeVector</span><br>
<br>

<table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Description</th>
                <th scope="col">Kind</th>
                <th scope="col">Process Id</th>
                <th scope="col">Run Id</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Events)
            {    
                <tr>
                    <th>@e.Id</th>
                    <td>@e.Description</td>
                    <td>@e.Kind</td>
                    <td>@e.ProcessId</td>
                    <td>@e.RunId</td>
                    <td>@e.Time</td>
                </tr>
            }
        </tbody>
    </table>